/* You can add global styles to this file, and also import other style files */

.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;

}

.oswald-regular {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}